<div class="container mt-5" *ngIf="tasksToDo || tasksInProgress || tasksDone ">
    <div class="row">
        <h3 class="text-center montserrate">DASHBOARD</h3>
    </div>

    <div class="float-right">
        <button class="btn btn-warning" [routerLink]="['/taskNew']">Add Task</button>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <h4 class="montserrate text-center">REQUESTED</h4>

            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" #todoList="cdkDropList" [cdkDropListData]="tasksToDo" [cdkDropListConnectedTo]="[progressList]">

                <div class="card" *ngFor="let task of tasksToDo" cdkDrag><strong>Id: {{task.id}}</strong>

                    <div class="card-body">
                        <h5 class="card-title">{{task.title}}</h5>
                        <p class="card-text ext-justify">{{task.description}}</p>
                        <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <h4 class="montserrate text-center">IN PROGRESS</h4>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" #progressList="cdkDropList" [cdkDropListData]="tasksInProgress" [cdkDropListConnectedTo]="[todoList,doneList]">

                <div class="card" *ngFor="let task1 of tasksInProgress" cdkDrag><strong>Id: {{task1.id}}</strong>
                    <div class="card-body">
                        <h5 class="card-title">{{task1.title}}</h5>
                        <p class="card-text ext-justify">{{task1.description|slice:0:200}}</p>
                        <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <h4 class="montserrate text-center">DONE</h4>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" #doneList="cdkDropList" [cdkDropListData]="tasksDone" [cdkDropListConnectedTo]="[progressList]">
                <div class="card" *ngFor="let task2 of tasksDone" cdkDrag><strong>Id: {{task2.id}}</strong>
                    <div class="card-body">
                        <h5 class="card-title">{{task2.title}}</h5>
                        <p class="card-text ext-justify">{{task2.description|slice:0:200}}</p>
                        <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>

                    </div>
                </div>
            </div>

        </div>

    </div>





</div>